.cotainer{
  width: 300px;
    height: 300px;
    margin: 0;
  border: 3px solid #73AD21;
   display: block;
}

.pro{
   float: left;
}
.ht{
   font-family: 'Ubuntu', sans-serif;
    font-size: 9px;
}

.little{
    font-size: 6px;
    float:left;
    font-size: small;

}

.padding{
    display: block;
}
.post{
     display: block;
     margin: auto;
  width: 50%;
  border: 3px solid beige;
  padding: 10px;
}

i{ margin: 10px;}

.far .fa-bookmark{
      overflow: auto;
       float: right;
}

img{
    width: 300px;
    height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.comment{
font-family: 'Raleway', sans-serif;;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.fa-bookmark{
    margin-left: 250px;
}

.fa-paper-plane{
    margin: 0;
}

.fa-ellipsis-v{
    margin-right: 20px;
}
